#hero-section {
  position: relative;
  height: 990px;
  background-color: black;
  justify-content: center;
}
.navbar{
  background-color: none  ;

}

#nav-bar{
  background-color: black;
}
#logo {
  width: 170px;
  height: 41px;
  top: 29px;
  color: #FFFFFF;
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 100%;
text-align: center;

}

#menu {
  font-style: regular;
  font-size: 18px;
  line-height: 18px;
  line-height: 100%;
  background-color: black;
}

.nav-link {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#register-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;
background: #FFFFFF;
border-radius: 40px;

}

ul li a {
  text-align: center;
  font-weight: 400;
  color: white;
  
}

#navbarText{
  color: black;

}

#login{
  color: white;
  padding-right: 20px;
}
#hero-title {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 198px;
  color: white;
}

ul li h1 {
  font-size: 72px;
  font-weight: 900;
}

#hero-subheading {
position: absolute;
width: 580px;
height: 54px;
left: 387px;
top: 384px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: white;
justify-content: center;
align-items: center;
padding-top: 100px;
padding-left: 100px;
}

ul li p  {
  line-height: 27px;
  font-weight: 400;
  
}

#subheading-text{
  color: #FFFFFF;
}

#get-started-btn{
display: flex;
justify-content: center;

}


#get-started-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
background: #A8FF35;
border-radius: 40px;
width: 180px;
height: 57px;
text-align: center;
color: #000000;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;

}

#open-new-tabs {
    height: 742px;
    background-color: #A8FF35;
    
}

#open-tabs-heading {
    text-align: center;
    justify-content: center;
    padding-top: 140px;
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
}

.findtrend-btn{
  display: flex;
  justify-content: center;
  padding-top: 60px ;
  box-shadow: white;
}

#logo-button {
  width: 341.23px;
  height: 82px;
  background-color: black; 
  align-items: center;
  justify-content: center;
    

}

#logo-button-text{
  color: white;
  font-weight: 400;
  font-size: 23.81px;
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 28px;

}

#tab-subheading {
  
position: absolute;
width: 666px;
height: 54px;
left: 387px;
top: 1448px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #000000;
  
  
}

div p {
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  

}

#long-text-section {
  height: 584px;
}

#long-text-header {
position: absolute;
width: 1160px;
height: 76px;
left: 140px;
top: 1858px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
color: #000000;
text-align: left;
justify-content: center;
}

#partner-section{
position: absolute;
width: 1160px;
height: 732px;
left: 140px;
top: 2366px;

}

#partner-section-header{
padding-top: 100px;
padding-bottom: 100px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
color: #000000;
text-align: center;
}

.card-img-top{
  justify-content: space-evenly;
  align-items: space-around;
  padding: 20px;
  
}

#platforms {
  height: 2209px;
  background-color: #fafafa;
}

#platform-header{
padding-top: 1000px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
text-align: center;
color: #000000;
}

#logo-div{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  
}

.platform-logo{
width: 124px;
height: 124px;
left: 444px;
top: 0px;
padding: 20px;

background: #FFFFFF;
border-radius: 8px;
}
#tweet1{
background: url(../tweet1.png);

position: absolute;
width: 800px;
height: 274px;
left: 320px;
top: 3735px;
}

#tweet2{
background: url(../tweet2.png);
background-repeat: no-repeat;
position: absolute;
width: 800px;
height: 804px;
left: 322px;
top: 4052px;

}

#tweet3 {
background: url(../tweet3.png);
background-repeat: no-repeat;
position: absolute;
width: 800px;
height: 804px;
left: 322px;
top: 4052px;

}



#platform-button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
position: absolute;
width: 198px;
height: 57px;
left: 621px;
top: 5250px;

background: #000000;
border-radius: 40px;
}

#platform-button-text{
  text-align: inline;
}

#best-deal-section{
position: absolute;
width: 1440px;
height: 1128px;
left: 0px;
top: 5447px;

background: #000000;
}

#best-deal-header{
padding-top: 140px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
text-align: center;
color: white;
}

#card-group  {
display: flex;
align-items: center;
padding-top: 50px;
justify-content: space-evenly;
justify-items: center;

}

.best-deal-card{
 
display: inline-grid;
width: 360px;
height: 640px;
border-radius: 16px;
justify-content: space-around;
padding: 30px;
}

#card-2 {
background: #A8FF35;
}

.deal{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100%;
position: relative;
color: #000000;
height: 36px;

}

.deal-subheading{
position: relative;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: #000000;
text-align: left;
}

.deal-list{
  list-style-type: none;
  text-align: left;
  justify-content: left;
  padding-right: 30px;
}

.free-trial-btn{
position: flex-end;
width: 240px;
height: 58px;
background: #A8FF35;
border-radius: 29px;
text-align: center;

}


.free-trial-btn-black {
  position: end;
  width: 240px;
  height: 58px;
  background: #000000;
  border-radius: 29px;
  text-align: center;
  
  }
#join-us-section{
position: absolute;
width: 1440px;
height: 539px;
left: 0px;
top: 6575px;
background: #A8FF35;
}

#join-headers{
padding-top: 140px;
list-style-type: none;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 112%;
text-align: center;
color: #000000;
}

#join-header-one{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 112%;
text-align: center;
color: #000000;
}

#join-header-two{

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  text-align: center;
  color: #87D322;
  
}

#join-button{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  
}

#join-us-btn{
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
position: absolute;
background: #000000;
border-radius: 40px;
justify-self: center;


}

#join-us-text{
  
  text-align: center;
}

#footer-section{

background-color:  #FFFFFF;
 
}

#footer{

position: absolute;
width: 1440px;
height: 75px;
left: 0px;
top: 7114px;
}

#footer-logo-text {
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 100%;
text-align: center;
color: #000000;
display: flex;
align-items: center;
padding-top: 20px;
padding-left: 20px;


}
#footer-conent{
  position: right;
  
}
#footer-list{
list-style-type: none;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
display: flex;
justify-content: space-evenly;
padding-top: 5px;
}