#hero-section {
  position: relative;
  height: 990px;
  background-color: grey;
  justify-content: center;
}
.navbar{
  background-color: none;
}
#logo {
  width: 170px;
  height: 41px;
  top: 29px;
}

#menu {
  font-style: regular;
  font-size: 18px;
  line-height: 18px;
  line-height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#register-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;
background: #FFFFFF;
border-radius: 40px;

}

ul li a {
  text-align: center;
  font-weight: 400;
  color: white;
}

#hero-title {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 198px;
  color: white;
}

ul li h1 {
  font-size: 72px;
  font-weight: 900;
}

#hero-subheading {
position: absolute;
width: 580px;
height: 54px;
left: 387px;
top: 384px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: white;
justify-content: center;
align-items: center;
padding-top: 100px;
padding-left: 100px;
}

ul li p {
  line-height: 27px;
  font-weight: 400;
}

#get-started-btn{
display: flex;
justify-content: center;

}


#get-started-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
background: #A8FF35;
border-radius: 40px;
width: 180px;
height: 57px;
text-align: center;
color: #000000;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;

}

#open-new-tabs {
    height: 742px;
    background-color: #A8FF35;
    
}

#open-tabs-heading {
    text-align: center;
    justify-content: center;
    padding-top: 140px;
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
}

.findtrend-btn{
  display: flex;
  justify-content: center;
  padding-top: 60px ;
  box-shadow: white;
}

#logo-button {
  width: 341.23px;
  height: 82px;
  background-color: black; 
  align-items: center;
  justify-content: center;
    

}

#logo-button-text{
  color: white;
  font-weight: 400;
  font-size: 23.81px;
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 28px;

}

#tab-subheading {
  
position: absolute;
width: 666px;
height: 54px;
left: 387px;
top: 1448px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #000000;
  
  
}

div p {
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  

}

#long-text-section {
  height: 584px;
}

#long-text-header {
position: absolute;
width: 1160px;
height: 76px;
left: 140px;
top: 1858px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
color: #000000;
text-align: left;
justify-content: center;
}

#partner-section{
position: absolute;
width: 1160px;
height: 732px;
left: 140px;
top: 2366px;

}

#partner-section-header{
padding-top: 100px;
padding-bottom: 100px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
color: #000000;
text-align: center;
}

.card-img-top{
  justify-content: space-evenly;
  align-items: space-around;
  padding: 20px;
  
}

#platforms {
  height: 2209px;
  background-color: #fafafa;
}

#platform-header{
padding-top: 1000px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
text-align: center;
color: #000000;
}

#logo-div{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  
}

.platform-logo{
width: 124px;
height: 124px;
left: 444px;
top: 0px;
padding: 20px;

background: #FFFFFF;
border-radius: 8px;
}
#tweet1{
background: url(/images/tweet1.png);

position: absolute;
width: 800px;
height: 274px;
left: 320px;
top: 3735px;
}

#tweet2{
background: url(/images/tweet2.png);
background-repeat: no-repeat;
position: absolute;
width: 800px;
height: 804px;
left: 322px;
top: 4052px;

}

#tweet3 {
background: url(/images/tweet3.png);
background-repeat: no-repeat;
position: absolute;
width: 800px;
height: 804px;
left: 322px;
top: 4052px;

}



#platform-button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
position: absolute;
width: 198px;
height: 57px;
left: 621px;
top: 5250px;

background: #000000;
border-radius: 40px;
}

#platform-button-text{
  text-align: inline;
}

#best-deal-section{
position: absolute;
width: 1440px;
height: 1128px;
left: 0px;
top: 5447px;

background: beige;
}

#best-deal-header{
padding-top: 140px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
text-align: center;
}

#join-us-section{
position: absolute;
width: 1440px;
height: 539px;
left: 0px;
top: 6575px;

background: #A8FF35;
}

#join-headers{
padding-top: 140px;
list-style-type: none;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 112%;
text-align: center;
color: #000000;
}

#join-header-one{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 112%;
text-align: center;
color: #000000;
}

#join-header-two{

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  text-align: center;
  color: #87D322;
  
}

#join-us-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
position: absolute;
background: #000000;
border-radius: 40px;
}

#footer{
  height: 100px;
}